<nav class="navigation_header">
        <div class="navigation__column">
        </div>
        <div class="navigation__column">
            <a href="#">
                <!-- Master branch comment -->
              <div class="logo" >
                <%=image_tag("Logoa.png") %>
                <span> HOME </span>
               </div>
            </a>
        </div>
      <div class="navigation__column">
      </div>
    </nav>

         <iframe src="https://cogeo.xyz/?url=s3://omi-no2-nasa/OMI-Aura_L3-OMNO2d_2020m0101_v003-2020m0330t173100.tif"></iframe>

   <footer class="footer">
         <nav class="navigation">
                <div class="navigation__column">
                    <ul class="navigations__links">
                      <li class="navigation__list-item">
                        <a href="#" class="footer__link">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                      </li>
                      <li class="navigation__list-item">
                        <a href="#" class="footer__link">
                          <span class="glyphicon glyphicon-search"></span>
                        </a>
                      </li>
                        <li class="navigation__list-item">
                          <a href="#" class="footer__link">
                          <span class="glyphicon glyphicon-king"></span>
                          </a>
                        </li>
                        <li class="navigation__list-item">
                          <a href="#" class="footer__link">
                            <span class="glyphicon glyphicon-map-marker"></span>
                          </a>
                        </li>
                        <li class="navigation__list-item">
                            <a href="#" class="footer__link"><span class="glyphicon glyphicon-globe"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
   </footer>
