// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "reset.css";
@import "variables.css";
@import "globals.css";
@import "footer.css";
@import "navigation.css";
@import "feed.css";

.glyphicon {
    font-size: 30px;
    color: #13373C4A;
    border: 1px solid #13373C00;
}
